<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>各种 CSS 小Demo</title>
    <link href="https://cdn.bootcss.com/iview/2.10.1/styles/iview.css" rel="stylesheet">
    <style>
    header {
        height: 150px;
    }

    body {
        background: #f8f8f9;
    }
    </style>
</head>

<body>
    <header></header>
    <div id="app" style="max-width: 1200px;margin: auto;">
        <Card>
            <!-- <auto-complete size="large" v-model="value1" :data="data1" @on-search="handleSearch1" placeholder="搜索关键字"></auto-complete> -->
            <i-input size="large" placeholder="搜索关键字" v-model="searchValue"></i-input>
            <br>
            <br>
            <i-table size="large" :columns="column" :data="filterData"></i-table>
        </Card>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.15/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/iview/2.10.1/iview.min.js"></script>
    <script src="https://cdn.bootcss.com/iview/2.10.1/locale/zh-CN.js"></script>
    <script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            column: [{
                title: '描述',
                key: 'describe',
                render: (h, params) => {
                    return h('a', {
                        attrs: {
                            href: params.row.url,
                            target: "_blank"
                        }
                    }, params.row.describe);
                }
            }],
            data: [
                { describe: '文字剧中对齐', url: './Vertical center of text/demo.html' },
                { describe: '圆角', url: './Vertical center of text/demo.html' },
                { describe: '阴影', url: './Vertical center of text/demo.html' },
                { describe: '渐变', url: './Vertical center of text/demo.html' }
            ],
            data1: [],
            searchValue: ''
        },
        computed:{
            filterData:function(){
                if(!!this.searchValue){
                    let tmpSearchValue = this.searchValue;
                    return this.data.filter(function(value){
                        if(value.describe.indexOf(tmpSearchValue)!=-1){
                            return value;
                        }
                    });
                }else{
                    return this.data;
                }
            }
        },
        methods: {
            handleSearch1(value) {
                console.log("hello");
            }
        }
    });
    </script>
</body>

</html>