body {
    background-color: #f8f8f9;
}

.main-div {
    width: 80%;
    margin: auto;
}

.out-div {
    background-color: lightblue;
    overflow: hidden;
    margin: 1em;
}

.out-div p {
    margin: 0;
}

.floatLeft {
    float: left;
}

.inlineMiddleText {
    height: 150px;
    line-height: 150px;
}

.toTable {
    display: table;
}

.toTableCell {
    display: table-cell;
}

.multLineText {
    height: 150px;
}

.multLineText .toTableCell {
    vertical-align: middle;
}

#div1 {
    width: 80%;
    margin: 10px auto;
    border: 1px solid red;
    text-align: center;
    /*设置文本水平居中*/
    padding: 50px 0;
}